.footer__wrapper {
	display: flex;
	padding-top: 40px;
	justify-content: space-between;
	@include media-tablet {
		flex-wrap: wrap;
		max-width: none;
		padding: 30px 30px 0;
	}
	@include media-mobile {
		padding: 30px 0 0;
	}
}

.footer-container {
	display: flex;
	justify-content: space-between;
	margin-right: 166px;

	@include media-tablet {
		margin-right: 0;
		padding: 0 34px;
	}

	@include media-mobile {
		padding: 0;
		flex-direction: column;
	}
}

.footer__block {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	@include media-tablet {
		margin-top: 0;
		align-items: flex-start;
	}
	@include media-mobile {
		align-items: center;
		h3 {
			text-align: center;
		}
	}
}
.contacts {
	flex-basis: 40%;
	> * + * {
		margin-top: 40px;
	}
	@include media-tablet {
		flex-basis: 44%;
		> * + * {
			margin-top: 38px;
		}
	}
	@include media-mobile {
	}
}

.location {
	flex-basis: 40.5%;
	> * + * {
		margin-top: 34px;
	}
	> :last-child {
		margin-top: 32px;
	}

	@include media-tablet {
		flex-basis: 47%;
		> * + * {
			margin-top: 30px;
		}
	}
	@include media-mobile {
		padding: 0 10px;
		margin-top: 42px;
		h3 {
			padding: 0 15px;
		}
		> * + * {
			margin-top: 40px;
		}
		> :last-child {
			align-self: stretch;
			margin-top: 40px;
		}
	}
}

.title--color {
	color: $color-light-xl;
}

.footer-icon {
	display: flex;
	color: transparent;
	align-items: center;

	&--email {
		height: 32px;
	}
	h4 {
		margin-left: 20px;
		color: $color-primary;
	}
}

.footer__img {
	@include media-tablet {
		margin: auto;
		margin-top: 65px;
	}
	@include media-mobile {
		margin: 4em auto 0;
		width: 260px;
	}
}
