.header__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media-mobile {
		width: 100%;
	}
}

/* 
.start-screen {
	@include media-mobile {
		padding-top: 60px;
		.header {
			position: fixed;
		}
	}
} */
